.bg-container{
    height: 100vh;
    background-color: lightcyan;
    border-radius: 20px;
}
.heading{
    font-size: 60px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: #1c0209;
}
.paragraph{
    font-size: 100px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: black;

}
.button{
    padding: 30px;
    border-radius: 20px;
    border-style: dashed;
    background-color: transparent;
    margin: 20px;
    font-size: 30px;
    color: darkorange;
}